<!-- withdrawal-notification.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Withdrawal Notification</title>
</head>
<body>
<h2>Dear <span th:text="${customerName}">Customer Name</span>,</h2>

<p>Your withdrawal of <strong th:text="${amount}">Amount</strong> <strong th:text="${currency}">Currency</strong> from account <strong th:text="${accountNumber}">Account Number</strong> has been successfully processed.</p>

<p>Your updated balance is <strong th:text="${updatedBalance}">Updated Balance</strong> <strong th:text="${currency}">Currency</strong>.</p>



<p>Thank you for using our service!</p>

<br>
<p>Best regards,</p>
<p>The Bank Team</p>
</body>
</html>
